/* p{
    background-color: aqua;
    color: black;
    font: optional;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 40px solid black;
} */
div{
    
}